
.startprivate-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  width: 400px; 
  height: 400px; 
  border: 1px solid #008CD9; 
  border-radius: 20px; 
}

.startprivate-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.startprivate-popup-content {
  text-align: left;
  overflow-y: auto; /* 滑桿 */
  max-height: 360px; /* 最大高度 */
  
}

.startprivate-label {
  display: block;
  margin-top: 10px;
}

.startprivate-button-container {
  display: flex;
  justify-content: flex-end; /* 置右 */
  padding: 20px;
}

.startprivate-buttons {
  display: flex;
  align-items: center; 
}

.startprivate-spacer {
  flex: 10px; /* 間隙 */
}