/* styles/LoginForm.css */
.login-form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-form__title {
    text-align: center;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: normal;
  }
  
  .login-form__input-group {
    margin-bottom: 1rem;
  }
  
  .login-form__label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
  }
  
  .login-form__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 0.9rem;
    border-style: solid;
    border-color: #E0F0FF;
  }
  
  .login-form__button {
    margin: 0 auto;
    display: block;
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #2E9EDC;
    color: #fff;
    border-style: solid;
    border-color: #E0F0FF;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .login-form__button:hover {
    background-color: #005ea6;
  }