.comment-container {
  width: calc(100% - 60px);
  max-height: 100vh; /* 更改最大高度 */
  overflow-y: auto; /* 添加垂直滾動條 */

  position: absolute;
  bottom: 30px;
}
  
.comment-list-table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

.comment-a-comment {
  height: 40px;
}

.comment-bottom {
  border-bottom: 1px solid #008CD9;
}

.comment-time {
  font-size: 15px;
  color: #999;
  text-align: right;
  width: 20%;
  vertical-align: top; 
}


.comment-name {
  color: #008CD9;
  font-size: 20px;
  vertical-align: top; 
  width: 60%;
}


.comment-text {
  font-size: 20px;
  vertical-align: bottom;
  max-width: 0;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}