.circle-button-container {
    z-index: 1000;
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.main-button {
    height: 30px;
    width: 30px;
    font-size: 50px;
    color: #008CD9;
}

.main-button:hover {
    color: #66C2FF;
    cursor: pointer;
}

.sub-buttons {
    position: absolute;
    bottom: 50px;
    width: 200px;     
}
  
.sub-button {
    border-color: transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 5px;   
    width: 150px;
}

.sub-icon {
    margin-right: 5px;
    font-size: 30px;
    color: #008CD9;
}

.sub-text {
    color: black;
  }

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}