.self-post-delete-button {
    width: 30px;
    height: 30px;
    border: none; /* 移除邊框 */
    background: none;
    color: #008CD9; /* 設定顏色為藍色 */
    cursor: pointer; /* 讓滑鼠指針變成手型 */
    text-align: center;
  }

  .self-post-delete-button svg {
    width: 20px;
    height: 20px;
  }