/* ThreeDotButtonPopup.css */

.three-dot-popup {
  position: absolute;
  background-color: rgb(0, 0, 255); 
  padding: 10px;
  border: 1px solid  rgb(0, 0, 255);
  border-radius: 5px;
  z-index: 9999;
}

.startprivate-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button:hover {
  text-decoration: underline;
}
