/* ChatRoom.css */

/* 整個聊天室容器 */
.private-message-chat-room-container {
    position: fixed; /* 使用絕對定位 */
    top: 100px; /* 距離頂部 100 像素 */
    bottom: 200px;
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    width: 600px; /* 固定寬度為 600px */
    max-height: 2000px; 
    padding: 20px;
    box-sizing: border-box; /* 盒模型設定為邊框盒 */
    border: 2px solid #008CD9; /* 添加 2 像素寬度的實線邊框，顏色為 #008CD9 */
    overflow-y: auto; /* 添加垂直滾動條 */
  }
  


    

/* 單個訊息框 */
.private-message-message-container {
    display: block ; /* 將每個訊息設置為區塊元素，確保每個訊息都在新的一行上 */
    width: 100%; /* 寬度佔滿父元素 */
    clear: both; /* 確保訊息框不會浮動到浮動元素旁邊 */
    margin-bottom: 15px; /* 設置底部間距 */
}



/* 訊息時間戳 */
.private-message-timestamp {
font-size: 0.8rem;
color: #888;
}

.private-message-message-box {
    display: inline-block; /* 將元素設置為內聯塊，使其大小根據內容自動調整 */
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    overflow-wrap: break-word; /* 超出寬度時自動換行 */
    word-wrap: break-word;
}

/* 自己發送的訊息靠右 */
.private-message-own-message {
  text-align: right;
  display: block;
  background-color: #4629F2;
  color: white;
  float: right;
}

/* 別人發送的訊息靠左 */
.private-message-message-box:not(.private-message-own-message) {
  background-color: #F1F7FF;
  color: black;
  text-align: left;
  display: block;
  float: left;
}

.private-message-chat-header{
  border-bottom: 2px solid #008CD9;
  display: flex; 
  align-items: baseline;
}

.private-message-photo {
  width: 50px; 
  height: 50px; 
}


.private-message-name {
  text-align: left;
  font-size: 24px;
  margin-left: 10px;
  color: #008CD9;
}