/* ChatRoom.css */

/* 整個聊天室容器 */
.private-message-chat-room-container {
    position: fixed; /* 使用絕對定位 */
    top: 16%; 
    bottom: 20%;
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    width: 60%; /* 固定寬度為 60% */
    max-height: 100vh; 
    padding: 2%;
    box-sizing: border-box; /* 盒模型設定為邊框盒 */
    border: 2px solid #008CD9; /* 添加 2 像素寬度的實線邊框，顏色為 #008CD9 */
    overflow-y: overlay; /* 添加垂直滾動條 */
  }

/*輸入框*/
.private-message-input-box{
  position: fixed; /* 使用絕對定位 */
  top:80%;
  bottom: 10%;
  transform: translateX(-50%); /* 水平居中 */
  width: 60%; /* 固定寬度為 60% */
  box-sizing: border-box; /* 盒模型設定為邊框盒 */
  padding: 0.005%;
  /* border: 2px solid #008CD9; 添加 2 像素寬度的實線邊框，顏色為 #008CD9 */
  overflow-y: auto; /* 添加垂直滾動條 */
  display: flex;
  align-items: flex-start;
}  

.private-message-input{
  width: 100%;
  top:0%;
  border-radius: 0%;
}
    

/* 單個訊息框 */
.private-message-message-container {
    display: block ; /* 將每個訊息設置為區塊元素，確保每個訊息都在新的一行上 */
    flex-direction: column;
    width: 100%; /* 寬度佔滿父元素 */
    clear: both; /* 確保訊息框不會浮動到浮動元素旁邊 */
    margin-bottom: 2%; /* 設置底部間距 */
}

.private-message-timestamp-container {
  margin-top: 2%; /* 添加一個上邊距，避免與 .private-message-message-box 重疊 */
}

/* 訊息時間戳 */
.private-message-date {
font-size: 2vw;
color: #888;
text-align: center;
width: 100%;
margin-bottom: 1%; 
}

.private-message-time {
  font-size: 1vw;
  color: #888;
  text-align: right; 
  display: inline-block; 
  }

.private-message-message-box {
    display: inline-block; /* 將元素設置為內聯塊，使其大小根據內容自動調整 */
    overflow-wrap: break-word; /* 超出寬度時自動換行 */
    word-wrap: break-word;
    width: 80%;
    padding: 1%;
}

/* 自己發送的框靠右 */
.private-message-own-message {
  text-align: right;
  display: block;
  float: right;
}

/* 別人發送的框靠左 */
.private-message-message-box:not(.private-message-own-message) {
  text-align: left;
  display: block;
  float: left;  
}

/* 自己發送的文字靠右 */
.private-message-own {
  text-align: left;
  display: block;
  background-color: #4629F2;
  color: white;
  float: right;
  font-size: 2vw;
  border-radius: 0%;
  padding: 0.2em; 
  max-width: 80%;
}

/* 別人發送的文字靠左 */
.private-message-message:not(.private-message-own) {
  background-color: #F1F7FF;
  color: black;
  text-align: left;
  display: block;
  float: left;  
  font-size: 2vw;
  border-radius: 0%;
  padding: 0.2em; 
  max-width: 80%;
}


.private-message-chat-header{
  border-bottom: 2px solid #008CD9;
  display: flex; 
  align-items: baseline;
  height: 10%; 
  margin-bottom: 4%; /* 添加 下邊距 */
}

.private-message-photo {
  height: 100%; 
  bottom: 0;
}


.private-message-name {
  text-align: left;
  margin-left: 10px;
  color: #008CD9;
  font-size: 4vh;
  bottom: 0;
}